*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home{
   height: 100vh;
   width: 100%;
    background-image: url(img/supermarket1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0%;
    
}


#about{
    background-color: #BFA18C;
 }

#register{
   
    width: 100%;
    background-color: pink;
    
   color: indigo;
 }
 #cart{
    background-image: url(img/cart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100vw;
    background-position-y: 100%;
   
    
}
section{
    width: 100vw;
    height: 100%;
    float: left;
}
#contact{
    width: 100vw;
    height: 40vh;

  }

div,section,span,ul,li,a,header{
    box-sizing: border-box;
}
header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
   
}
#product{
    background-color: lightgoldenrodyellow;
}
#product1{
    background-color: darkseagreen;
}


